<a href="https://colab.research.google.com/github/Injamtanvir/Python_Basics/blob/main/Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# INJAM UL HAQUE
CSE, BRAC UNIVERSITY \
[GitHub Profile](https://github.com/Injamtanvir)

In [ ]:
print("Hello Tanvir")
print("INJAM UL HAQUE")
print(2369)  # # MEANS COMMENT
print(29.3) #THERE 29.3(FRACTION NUMBER) IS A FLOAT VALUE

Hello Tanvir
INJAM UL HAQUE
2369
29.3

In [ ]:
num = 123456
text = str(num)
print(num, text)  # NUMBER CONVERT STRING USING str() FUNCTION.

123456 123456

In [ ]:
salary = 10000 #THIS 10000 IS A NUMBER TYPE/NUMERICAL VARIABLE
age = 20 #THERE age/salary/person/isBad... REPRESENTS THE VARIABLE
person = "Tom cruise" #THIS "Tom cruise" IS A STRING VARIABLE
country = "France"
isBad = False #THIS True OR False IS A BOOLEAN VARIABLE
isRich = True
print(salary)
print(age)
print(person)
print(country)
print(isBad)
print(isRich)

10000
20
Tom cruise
France
False
True

In [ ]:
a = 3
b = 15 

print(a + b) #THERE + OPERATOR MEANS ADDITION

print(a - b) #THERE - OPERATOR MEANS SUBTRACTION

print(a * b) #THERE * OPERATOR MEANS MULTIPLICATION

print(b / a) #THERE /  OPERATOR MEANS DIVISION

print(b % a) #THERE % OPERATOR MEANS REMINDER ON A DIVISION

18
-12
45
5.0
0

In [ ]:
Monkey = 6
Banana = 24

result = Banana / Monkey
anotherResult = Monkey * 2

print(result)
print(anotherResult)

4.0
12

In [ ]:
status = input("Are you single?") #THERE input() PROGRAMME WANT A INPUT FROM USER
print("This person is single:" , status)

Are you single?Yes
This person is single: Yes

In [ ]:
lend = input("How much money:")
print("I will pay double:", lend*2) #THERE OUTPUT WILL BE SHOW WRONG CAUSE string*2 RETURNS stringstring. IT WILL BE integer*2.

How much money:200
I will pay double: 200200

In [ ]:
lend = int(input("How much money:"))
print("I will pay double:", lend*2) #THERE int() CONVERT THE STRING TO INTEGER

How much money:20
I will pay double: 40

In [ ]:
lend = float(input("How much money:"))
print("I will pay double:", lend*2) #THERE float() CONVERT THE STRING TO A FLOAT VALUE LIKE 10.5(RRACTION NUMBER)

How much money:200
I will pay double: 400.0

In [ ]:
name = input("What's your name: ")
age = int(input("What's your age: "))
salaray = float(input("What's your salary: "))

print(f"My name is {name}. I am {age} years old. My salary is {salary}")

What's your name: Tanvir
What's your age: 20
What's your salary: 19000
My name is Tanvir. I am 20 years old. My salary is 10000

In [ ]:
price = 10000
storage = 128

if price > 5000 and storage < 256 : #THERE if: / elif: / else: ARE DIFFERENT CONDITIONS
                                    #and MEANS BOTH CONDITIONS ARE TRUE
                                    #or MEANS ONLY ONE CONDITION / BOTH CONDITIONS ARE TRUE
                                    #== MEANS EQUAL / =! MEANS NOT EQUAL / > MEANS GREATER THAN / >= MEANS GREATER THAN OR EQUAL / < MEANS LESS THAN / <= MEANS LESS THAN OR EQUAL
    print("I will Buy it")
    
else:
    print("I won't buy it")

I will Buy it

In [ ]:
price = 1150
if price < 1000:
    print("I will Buy")
elif 1000 < price <= 1200:
    print("I will think")
else:
    print("I will not buy")

I will think

In [ ]:
number = [1000,2000,3000,4000,5000] #[] LIST OF ELEMENTS CAN BE STORE ON THERE
Avengers = ["IronMan", "AntMan", "SpiderMan","Wanda", "CaptainAmerica"]

count = len(Avengers)  #len() THIS GIVE US THE LENGTH(HOW MUCH ELEMENT) INSIDE THE LIST
print(count)

5

In [ ]:
number = [1000,2000,3000,4000,5000]
Avengers = ["IronMan", "AntMan", "SpiderMan","Wanda", "CaptainAmerica"]

second = Avengers[1] # LIST INDEX CAN BE [0,1,2,3,4,5,6,.......,(len(list)-1)] 
print(second) #RETURN THE LISTS 2ND INDEX VALUE

AntMan

In [ ]:
number = [1000,2000,3000,4000,5000]
Avengers = ["IronMan", "AntMan", "SpiderMan","Wanda", "CaptainAmerica"]

List_elem = number[3] #RETURN THE LISTS 3RD INDEX VALUE 
print(List_elem)

4000

In [ ]:
number = [1000,2000,3000,4000,5000]
Avengers = ["IronMan", "AntMan", "SpiderMan","Wanda", "CaptainAmerica"]

Avengers.append("HeMan") #append() ADD EXTRA ELEMENT ON THE LAST INDEX ON A LIST
print(Avengers)

['IronMan', 'AntMan', 'SpiderMan', 'Wanda', 'CaptainAmerica', 'HeMan']

In [ ]:
number = [1000,2000,3000,4000,5000]
Avengers = ["IronMan", "AntMan", "SpiderMan","Wanda", "CaptainAmerica"]

Avengers.remove("Wanda") #remove() REMOVE THE ELEMENT FRAOM THE LIST WHICH I CALLED 
print(Avengers)

['IronMan', 'AntMan', 'SpiderMan', 'CaptainAmerica']

In [ ]:
number = [1000,2000,3000,4000,5000]
Avengers = ["IronMan", "AntMan", "SpiderMan","Wanda", "CaptainAmerica"]

Avengers[2] = "Hulk" #THIS CAN REPLACE THE ELEMENT BY ANOTHER ELEMENT
print(Avengers)

['IronMan', 'AntMan', 'Hulk', 'Wanda', 'CaptainAmerica']

In [ ]:
num = 23456
text = str(num)
count = [char for char in text]
print(count)

['2', '3', '4', '5', '6']

In [ ]:
num = 23456
text = str(num)
count = [int(char) for char in text]
print(count)

[2, 3, 4, 5, 6]

In [ ]:
number = [1000,2000,3000,4000,5000]
Avengers = ["IronMan", "AntMan", "SpiderMan","Wanda", "CaptainAmerica"]

for avenger in Avengers: #for LOOP USE THE SAME TASK AGAIN & AGAIN
    print("Hi" ,avenger)
    
for item in number:
    print(item)

Hi IronMan
Hi AntMan
Hi SpiderMan
Hi Wanda
Hi CaptainAmerica
1000
2000
3000
4000
5000

In [ ]:
number = [1000, -2000, 3000, 44, 66, 4000, -5000]
    
for item in number:
    print(item * 2)  #MULTIPLY THE ITEM IN PRINT STATEMENT
    print("Hi")

2000
Hi
-4000
Hi
6000
Hi
88
Hi
132
Hi
8000
Hi
-10000
Hi

In [ ]:
number = [1000,2000,3000,4000,5000,600]
    
for item in number:
    if item < 4000: #USE A CONDITION PROGRAMME WILL GIVE RETURN LESS THAN 4000 VALUE IN THE LIST
        print(item)

1000
2000
3000
600

In [ ]:
number = [1000, 2000, -3000, 4000, 5000]
    
for item in number:
    print(item) #THIS WILL PRINT THE ELEMENT BEFORE break
    if item < 0: #break FUNCTION MEANS THE LOOP WILL NOT CONTINUE
        break

1000
2000
-3000

In [ ]:
number = [1000, -2000, 3000, 4000, -5000]
    
for item in number:
    if item < 0:
        break
    print(item) #THIS WILL PRINT THE ELEMENT AFTER break

1000

In [ ]:
number = [1000, -2000, 3000, 44, 66, 4000, -5000]
    
for item in number:
    if item < 20:
        continue  #continue FUNCTION MEANS THE LOOP WILL CONTINUE SKIPPING DEFINING FUNCTIONS
    print(item)

1000
3000
44
66
4000

In [ ]:
num = 1
while num <= 10: #while DOING MULTIPLE THINGS UNTIL SOMETHING CHANGED
    print(num)
    num = num + 1 #THIS WILL INCREASE THE NUM VALUE 1 EVERY TIME

1
2
3
4
5
6
7
8
9
10

In [ ]:
num = 1
while num <= 50: 
    if num > 15:
        break
    print(num)
    num = num + 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [ ]:
for i in range(1,11):
    if i==5:
        continue
    print (i)

1
2
3
4
6
7
8
9
10

In [ ]:
def write(): # def DEFINING A FUNCTION(ORGANIZE MULTIPLE THINGS UNDER A NAME)
             #def BENEFIT WHENEVER YOU CALL IT WHENEVER YOU NEED IT
             #def FUNCTION TAKE INPT AND THEN RETURN
             #write() WHATEVER INSIDE THE def FUNCTION
    print("Hello")
    print("I am Tanvir")

write()

Hello
I am Tanvir

In [ ]:
def write():
    print("Hello")
    print("I am Tanvir")

write()
nums = [10,20,30,40,50]
for num in nums:
    print(num)
write() #YOU CAN CALLED FUNCTION ANYWHERE

Hello
I am Tanvir
10
20
30
40
50
Hello
I am Tanvir

In [ ]:
def write():
    print("Hello")
    print("I am Tanvir")
    
def Talk(): #YOU CAN CALLED MULTIPLE FUNCTIONS
    print("Do you saw Resurection Ertugrul series????")
    
write()
Talk()

Hello
I am Tanvir
Do you saw Resurection Ertugrul series????

In [ ]:
def multiply_double(num, multiplier):
    result = num * multiplier
    return result   #RETURN THE VALUE(WHICH WAS STORED)
first_amount = multiply_double(200, 2) #PASSING MULTAIPLE VARIABLE ISIDE THE FUNCTION. IN THERE num RECEIVED AS 200/100 && multiplier RECEIVED AS 2/5.
second_amount = multiply_double(100, 5) #second_amount / first_amount STORED THE VALUE

total = first_amount + second_amount
print("Total money you have: ", total)

Total money you have:  900

# =======================Real Life Python Problem===================

In [ ]:
#swap element in variable

a = 5
b = 7

print("Before Swap: ""a:", a, "b:", b)

temp = a  #MAKE A CONTAINER TO RECEIVED THE ELEMENT TEMPORARY
a = b
b = temp
print("After Swap: ""a:", a, "b:", b)

Before Swap: a: 5 b: 7
After Swap: a: 7 b: 5

In [ ]:
#swap element in variable

a = 5
b = 7

print("Before Swap: ""a:", a, "b:", b)

a, b = b, a  #PYTHON BUILT IN FUNCTION. OTHERWISE YOU HAVE TO MAKE A EXTRA VARIABLE/CONTAINER(count variable)THEN PUT ELEMENT ON THERE AND SWAP EACHOTHER ONE BY ONE.
print("After Swap: ""a:", a, "b:", b)

Before Swap: a: 5 b: 7
After Swap: a: 7 b: 5

In [ ]:
#find leap year

year = int(input("Please insert a year: "))

if year % 4 == 0:   #LEAP YEAR(MEANS 29 DAYS IN FEBRUARY WHICH IS COME EVERY 4 YEARS)
                    #IF  A YEAR WHICH IS DIVISIBLE BY 4 THAT IS LEAP YEAR. THERE year % 4 == 0 INDICATES THE YEAR DIVIDED BY 4 AND THERE HAVE NO REMINDER.
    print(("Your given year is a leap year"))
else:
    print(("Your given year is not a leap year"))

Please insert a year: 2024
Your given year is a leap year

In [ ]:
#find maximum minimum from multiple items

yash = int (input("Please enter how much money on yash Bank account: "))
rafi = int (input("Please enter how much money on rafi Bank account: "))
tanvir = int (input("Please enter how much money on tanvir Bank account: "))

if yash > rafi and yash > tanvir:   #AMKE CONFITIONS FOR THREE DIFFERENT SITUATIONS
    Print("Yash Bank balanced is higher amoong all3")

elif rafi > yash and rafi > tanvir:
    print("Rafi Bank balanced is higher amoong all3")

else:
    print("Tanvir Bank balanced is higher amoong all3")

Please enter how much money on yash Bank account: 2000
Please enter how much money on rafi Bank account: 1500
Please enter how much money on tanvir Bank account: 3000
tanvir Bank balanced is higher amoong all3

In [ ]:
#find maximum minimum from multiple items

#USE PYTHON BUILT-IN FUNCTION max()
#USE PYTHON BUILT-IN FUNCTION min()

yash = int (input("Please enter how much money on yash Bank account: "))
rafi = int (input("Please enter how much money on rafi Bank account: "))
tanvir = int (input("Please enter how much money on tanvir Bank account: "))

richest = max(yash, rafi, tanvir) #FIND MAXIMUM
poorest = min(yash, rafi, tanvir) #FIND MINIMUM
print("Richest person has ", richest, "Dollars")
print("Poorest person has ", poorest, "Dollars")

Please enter how much money on yash Bank account: 2000
Please enter how much money on rafi Bank account: 1500
Please enter how much money on tanvir Bank account: 2700
Richest person has  2700 Dollars
Poorest person has  1500 Dollars

In [ ]:
#find sum or average of a list

numbers = [20, 349, 784, 73673, 3676, 8890, 245, 345, 780, 673, 785]

sum = 0  #MAKE A CONTAINER WHERE INITIAL VALUE IS 0
for i in numbers:
    sum = sum + i  #EVERYTIME ADD NEW i VALUE WITH PREVIOUS sum AND STORED IT AGAIN ON sum
    
avg = sum / len(numbers) #TOTAL SUM DIVIDED BY NUMBER OF ELEMENTS ON THE LIST

print("Sum of all numbers: ", sum)
print("Average of all numbers: ", avg)

Sum of all numbers:  90220
Average of all numbers:  8201.818181818182

In [ ]:
#find largest or smallest number in a list

nums = [48, 49, 55, 73, 29, 900, 548, 201, 45, 65, 19, 257]

largestNumber = nums[0]  #THINK FIRST VALUE IN THE LIST WAS THE LARGEST NUMBER
for i in nums:
    if i > largestNumber: #EVERY TIME IN LOOP IF THE ELEMENT > LARGESTNUMBER THE ELEMENT TOOK THE LARGEST NUMBERS PLACE.
        largestNumber = i
        
print("Laragest number is: ", largestNumber)


smallestNumber = nums[0]  #THINK FIRST VALUE IN THE LIST WAS THE SMALLEST NUMBER
for i in nums:
    if i < smallestNumber:  #TO FIND SMALLEST THAT'S WHY USE <.
                            #EVERY TIME IN LOOP IF THE ELEMENT < SMALLESTNUMBER THE ELEMENT TOOK THE SMALLEST NUMBERS PLACE.
        smallestNumber = i
        
print("Smallest number is: ", smallestNumber)

Laragest number is:  900
Smallest number is:  19

In [ ]:
#count word from a sentence

text = input("Please enter a sentence: ")
count = 0
if len(text) > 0:  #IF I USE COUNT = 0 . THAT SHOW ME 1 WORD LESS, CAUSE MY THIS LOOP CAOUNT ONLY SPACES. TAHT'S WHY MY THIS LOOP CAN'T DETECT THE LAST WORD.
    count = 1
for char in text :
    if char == " ":
        count = count+1

print("Total number of word/s in the sentence: ", count)

Please enter a sentence: hello, Mr. Rahman. I am Tanvir. I am 19 years old.
Total number of word/s in the sentence:  11

In [ ]:
#count number of vowel in a sentence

text = input("Please enter a sentence: ")
count = 0
vowels = ['a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U'] #PYTHON CAN'T DETERMINE UPPERCASE & LOWERCASE AS SAME

for char in text :  #IF CHARACTER MATCHES WITH VOWEL ADD 1 EVERYTIME WITH COUNT
    if char in vowels:
        count = count+1
        
print("Number of the vowel in the sentence is: ", count)

Please enter a sentence: hello, Mr. Rahman. I am Tanvir. I am 19 years old.
Number of the vowel in the sentence is:  13

In [ ]:
#sum of all digits in a number

num = int(input("Please enter a number: "))
sum = 0  #A CONTAINER

while num > 0:  #WHEN NUM > 0 
    lastDigit = num % 10   #WHENEVER WE / ANY NUMBER THE OTPUT SHOW A FLOAT VALUE & THE LAST VALUE SHOW A AFTER THE FRACTION. SO WE % TO FIND THE LAST VALUE AND CONTAIN IT ON CONTAINER. 
    sum = sum + lastDigit 
    num = num // 10  #AFTER FINDING THE LAST NUMBER WE HAVE TO REMOVE IT. THAT'S WHY WE USE // TO FIND THE NUMBER BEFORE FRACTION POINT.

print(sum)

Please enter a number: 23456
20

In [ ]:
#sum of all digits in a number

num = int(input("Please enter a number: "))
sum = 0
text = str(num) #CONVERT THE NUMBER TO A STRING
for char in text:
    sum = sum + int(char)  #CONVERT THE str TO int

print(sum)

Please enter a number: 23456
20

In [ ]:
#reverse a string

text = input("Please enter a sentence: ")

reverse = ""   #TAKE A EMPTY STRING TO RECEIVE THE CHANGED CHARACTER ONE BY ONE.
for char in text :
    reverse = char + reverse   #NEW CHARACTER RECEIVE BEFORE PREVIOUS CHARACTER
    
print(reverse)

Please enter a sentence: I am a Programmer.
.remmargorP a ma I

In [ ]:
#reverse a string
#Using index

text = input("Please enter a sentence: ")
reverse = text[::-1] #PYTHON SLICING [START:END:DECREMENT/INCREMENT]
print(reverse)

Please enter a sentence: I am a Programmer.
.remmargorP a ma I

#===================================================================================================================